body {
	background: url(https://github.com/tk12075/MissionReports/blob/gh-pages/Images/TKBW.png?raw=true);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	font-family: Droid Sans;
}
html {
	height: 100%;
}
#navbar-brand{
	font-family: Droid Sans
}
#mainheader {
	color: black;
	text-align: center;
	background-color: rgba(225,225,225,0.5);
}

.jumbotron{
	margin: 50px;
	background-color: rgba(300,800,300,.8);
}

#jumboDiv {
	margin: 0px;
	padding-top: 50px;
	
}

th {
	width: auto;
	text-align: right;
}

td {
	width: auto;
	text-align: left;
	padding-left: 10px;
}



